<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/css/sliderstyle.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

        <title>Model Predictions</title>
    </head>

    <body>
        <!-- Using bootstrap for navbar logo "Dashboard" -->
    <nav class="navbar navbar-expand-lg wine-background-text">
        <a class="navbar-brand mr-auto" href="/prediction" style="color:seashell">
            <strong>Model Predictions</strong>
        </a>
        <!-- Adding a colapsible button as screen size decreases -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar nav ml-auto">
                <!-- Links -->
                <li class="nav-item">
                    <a class="nav-link" href="/" style="color:seashell">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wine_measurements" style="color:seashell">Wine Measurements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/project_design" style="color:seashell">Project Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/data" style="color:seashell">Dataset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/visualizations" style="color:seashell">Visualizations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/analysis" style="color:seashell">Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/prediction" style="color:seashell">Model Prediction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources" style="color:seashell">Resources</a>
                </li>
            </ul>
        </div>
    </nav>

   <div class="container">
    <!-- Unordered list of resources for the dataset -->
    <div class="row">
        <div class="col-md-12 body-section">
            <h3>Model Predictions</h3>
            <br>
                <p>Use the sliders to select values for various wine components and click the submit button 
                    to prompt the machine learning predictions on wine quality. 


                </p>
            <br>
        </div>
    </div>
   </div>

        <!-- Bootstrap Containter for Model Slider-->
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <form action="/predict" method="POST">
                    Fixed Acidity &nbsp; <input type="range" name="fixed_acidity" class="slider" value="0.0" min="3.0" max="14.20" step="0.1"
                        oninput="this.nextElementSibling.value = this.value">&nbsp;<output>0.0</output>
                    <p></p>

                    Volatile Acidity &nbsp; <input type="range" name="volatile_acidity" class="slider" value="0" min="0.0" max="1.10"
                        step="0.01" oninput="this.nextElementSibling.value = this.value">&nbsp;<output>0.00</output>
                    <p></p>

                    Citric Acid &nbsp;<input type="range" name="citric_acid" class="slider" value="0" min="0" max="1.66" step="0.01"
                        oninput="this.nextElementSibling.value = this.value">&nbsp;<output>0.00</output>
                    <p></p>

                    Residual Sugar &nbsp; <input type="range" name="residual_sugar" class="slider" value="0.0" min="0.0" max="65.80"
                        step="0.1" oninput="this.nextElementSibling.value = this.value">&nbsp;<output>0.0</output>
                    <p></p>

                    Chlorides &nbsp; <input type="range" name="chlorides" class="slider" value="0" min="0.0" max="1.100" step="0.001"
                        oninput="this.nextElementSibling.value = this.value">&nbsp;<output>0.000</output>
                    <p></p>

                    Free_Sulfur_Dioxide &nbsp; <input type="range" name="free_sulfur_dioxide" class="slider" value="0" min="0" max="289.0"
                        step="0.1" oninput="this.nextElementSibling.value = this.value">&nbsp;<output>0.0</output>
                    <p></p>

                    Total_Sulfur_Dioxide &nbsp; <input type="range" name="total_sulfur_dioxide" class="slider" value="0.0" min="0.0"
                        max="440.0" step="0.1"
                        oninput="this.nextElementSibling.value = this.value">&nbsp;<output>0.0</output>
                    <p></p>

                    Density &nbsp; <input type="range" name="density" class="slider" value="0" min="0.0" max="1.10" step="0.0001"
                        oninput="this.nextElementSibling.value = this.value">&nbsp;<output>0.0000</output>
                    <p></p>

                    pH &nbsp; <input type="range" name="pH" class="slider" value="0" min="2.0" max="4.00" step="0.01"
                        oninput="this.nextElementSibling.value = this.value">&nbsp;<output>0.00</output>
                    <p></p>

                    Sulphates &nbsp; <input type="range" name="sulphates" class="slider" value="0.0" min="0.0" max="1.10" step="0.01"
                        oninput="this.nextElementSibling.value = this.value">&nbsp;<output>0.00</output>
                    <p></p>

                    Alcohol &nbsp; <input type="range" name="alcohol" class="slider" value="0" min="7.0" max="14.50" step="0.1"
                        oninput="this.nextElementSibling.value = this.value">&nbsp;<output>0.0</output>
                    <p></p>
                    <p>
                       <bk></bk> 
                    </p>
                    <input type="submit">
                </form>
            </div>

            <div class="col-md-6">
                Fixed acidity: &nbsp;&nbsp; {{ predict_list[0] }}
                <p></p>
                Volatile Acidity: &nbsp;&nbsp; {{ predict_list[1] }}
                <p></p>
                Citric Acid: &nbsp;&nbsp; {{ predict_list[2] }}
                <p></p>
                Residual Sugar: &nbsp;&nbsp; {{ predict_list[3] }}
                <p></p>
                Chlorides: &nbsp;&nbsp; {{ predict_list[4] }}
                <p></p>
                Free Sulfur Dioxide: &nbsp;&nbsp; {{ predict_list[5] }}
                <p></p>
                Total Sulfur Dioxide: &nbsp;&nbsp; {{ predict_list[6] }}
                <p></p>
                Density: &nbsp;&nbsp; {{ predict_list[7] }}
                <p></p>
                pH: &nbsp;&nbsp; {{ predict_list[8] }}
                <p></p>
                Sulphates: &nbsp;&nbsp; {{ predict_list[9] }}
                <p></p>
                Alcohol: &nbsp;&nbsp; {{ predict_list[10] }}
                <p>
                    <bk></bk>
                </p>
            </div>
        </div>
        <div class="containerPred">
            <div class="rowTable">
                <div class="col-md-6 col-md-offset-3">
                    <div class="TablePred">
                
                        <p></p>
                        <p></p>
                        {{prediction|safe}}
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
